

.frase-skills{
  color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.progress {
    height: 35px;
    width: 100%;
    border: 1px solid #7cb3d2;
    border-radius: 5px;
    background-color: #e6f3fa;
    margin-bottom: 15px;
}

.progress-bar-primero {
     animation: load-1 3s normal forwards;
    height: 100%;
    background: rgb(131, 181, 184);
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    overflow: hidden;
    
}
.progress-bar-segundo {
    animation: load-2 3s normal forwards;
   height: 100%;
   background: rgb(131, 181, 184);
   display: flex;
   align-items: center;
   transition: width 0.25s;
   border-radius: 5px;
   overflow: hidden;
   
}
.progress-bar-tercero {
    animation: load-3 3s normal forwards;
   height: 100%;
   background: rgb(131, 181, 184);
   display: flex;
   align-items: center;
   transition: width 0.25s;
   border-radius: 5px;
   overflow: hidden;
   
}
.progress-bar-cuarto {
    animation: load-4 3s normal forwards;
   height: 100%;
   background: rgb(131, 181, 184);
   display: flex;
   align-items: center;
   transition: width 0.25s;
   border-radius: 5px;
   overflow: hidden;
   
}


.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: #ffffff;
}

  @keyframes load-1 {
    0% { width: 0; }
    100% { width: 42%;}
  }
  @keyframes load-2{
    0% { width: 0; }
    100% { width: 18%;}
  }
  @keyframes load-3 {
    0% { width: 0; }
    100% { width: 15%;}
  }
  @keyframes load-4 {
    0% { width: 0; }
    100% { width: 9%;}
  }
   